<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
<h1>Page Ajout Film</h1>

<h2>Ajouter un film :</h2>

<form action="/ajout" method="post">
<label for= "title">Titre</label>
<input type="text" id="date" name="date"> 

<label for= "date">Date</label>
<input type="date" id="date" name="date"> 

<label for= "duree">Duree</label>
<input type="number" id="date" name="date"> 

<label for= "synopsis">Synopsis</label>
<input type="text" id="synopsis" name="synopsis"> 

<input type="submit"  value="Valider"><br>
<br>
<a href= "/accueil">Valider</a>
<br><br>
<a href= "/details">Voir détail Film</a>

</form>

<!--  
<form th:action="@{/accueil}" th:object=${film} method="post">

	<label for= "title">Titre</label>
	<input type="text" th:field="*{title}" id="title" > <br>
	
	<label for= "date">Date</label>
	<input type="date" th:field="*{date}" id="date" > <br>
	
	<label for= "duree">Duree</label>
	<input type="number" th:field="*{duree}" id="duree" > <br>
	
	<label for= "synopsis">Synopsis</label>
	<input type="text" th:field="*{synopsis}" id="synopsis" > <br>
	
	<input type="submit" value="envoyer"> <br>
</form>
-->

	<table>
		<tr th:each="film: ${films}">
			<td th:text="${film.title}" />
			<td th:text="${film.date}" />
			<td th:text="${film.duree}"/>
			<td th:text="${film.synopsis}"/>
		</tr>
	</table>
	

</div>
</body>
</html>