<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>Ajouter un film</title>
</head>

<body>
	
	<div th:insert="fragments/header :: my-header" /></div>
	
	<h2>Ajouter un film :</h2>
	
	<form action="/ajout" method="post">
		<label for= "title">Titre</label>
		<input type="text" id="title" name="title"> 
		
		<label for= "releaseDate">Date</label>
		<input type="date" id="releaseDate" name="releaseDate"> 
		
		<label for= "duration">Duree</label>
		<input type="number" id="duration" name="duration"> 
		
		<label for= "synopsis">Synopsis</label>
		<input type="text" id="synopsis" name="synopsis"> 
		<!-- 
		<select name="director">
			<option th:each="director : ${partipants}" th:value="${director.id}">
				${director.firstname}
			</option>
		</select>
		-->
		<button type="submit">Ajouter le film</button>
	</form>

	<!-- Insertion dd'un fragment footer -->
	<div th:replace="fragments/footer.html"></div>
</body>
</html>