<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Liste des films</title>
</head>

<body style="margin-left:40vw; margin-top:5vh;">

	<h1>Liste de film</h1>

	<div style="width:30vw">
		<ul>
		  <li th:each=" movie: ${movies}">

		    <h2 th:text="${movie.title}">Titre</h2>
		    <p th:text="${movie.synopsis}">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet...</p>
		    <a th:href="@{/details(id=${movie.id})}">Voir détails</a>
		  </li>
		</ul>
		<br>
		<a th:href="@{/ajout}">Ajouter un film</a>
	</div>
</body>
</html>