<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Opinion</h1>
<h2>
Film
</h2>

<form th:action="@{/opinion}"  th:object=${opinion} method="post">
	<label for="opinion">Commentaire :</label>
	<input type="text" th:field="*{opinion}" id="opinion" ><br>
	
	<label for="rating">Note</label>
	<input type="number" th:field="*{rating}"  id="rating" ><br>
	
	Auteur : <select th:field="*{member}" required>
	  	<option th:each="member: ${members}" 
	  	th:value="${member.id}" th:text="${member.firstname}+' '+ ${member.lastname}"></option>
  </select>	 
	
	<button type="submit">Envoyer</button>

</form>

</body>
</html>